.users-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.users-table th, .users-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.users-table th {
    background-color: #f2f2f2;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tr:hover {
    background-color: #f1f1f1;
}
